<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="#springUrl('/resource/css/comm/comm.css')" />
    <link rel="stylesheet" type="text/css" href="#springUrl('/resource/css/login/login.css')" />
    <link href="#springUrl('/resource/css/account/account.css')" rel="stylesheet">
    <link rel="stylesheet" href="#springUrl('/resource/css/comm/mainPage.css')" />
    <script src="#springUrl('/resource/js/login/jquery-1.11.0.min.js')"></script>
    <script src="#springUrl('/resource/js/login/login.js')"></script>
</head>
<body>
<div class="header">
    <div class="hdlg">
        <a class="homepage" href="#">薪太软首页</a>
    </div>
</div>
<div id="lgbdy">
    <div class="activated">
        <div class="activated_bg"></div>
        <div class="activated_tb">
            <form id="pwdThirdForm">
                <input type="hidden" value="$!{loginName}" name="loginName">
                <table id="newFound">
                    <tr>
                        <th>重置密码</th>
                    </tr>
                    <tr>
                        <td>用户名</td>
                        <td style="color: #333333; padding-left: 25px;">$!{loginName}</td>
                    </tr>
                    <tr>
                        <td>新密码</td>
                        <td><input class="nwfundip" type="password" style="width: 275px;" name="newPwd" placeholder="请输入新密码" /></td>
                    </tr>
                    <tr style="margin-bottom:5px">
                        <td>确认密码</td>
                        <td><input class="nwfundip" style="width: 275px;" type="password" name="confirmNewPwd" placeholder="确认密码" /></td>
                    </tr>
                    #*<tr style="margin-bottom:30px">
                        <td></td>
                        <td><a style="color: #fa5f5f;">（两次输入密码不一样，请重新输入）</a></td>
                    </tr>*#
                    <tr>
                        <td colspan="2" id="verifycodeTip" style="color:red;width:100%;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input class="logon_sbm" style="width: 300px;height: 50px;" type="button" value="完成" id="finishBtn"/></td>
                    </tr>
                </table>
            </form>
        </div>

    </div>
</div>

<div class="pacity" style="width:100%;height:100%;display: none;opacity: 0.7;background: #000000; position: absolute;left: 0;top: 0; filter:alpha(opacity=70);"></div>
<div style="display: none;" class="aboxbg" id="aboxbg">
    <div class="abox" id="abox">
        <div class="abox_head">
            <span>提示</span>
        </div>
        <p>修改密码成功</p>
        <i id="sureBtnAgain"><span>确认</span></i>
    </div>
</div>
<div class="footer" id="footer">薪太软（上海）科技发展有限公司  |  沪ICP备16018294号  |<img src="#springUrl('/resource/img/police.png')" style="margin: 28px 5px 0 5px;" />沪公网安备 31010602000188号</div>
</body>
<script src="#springUrl('/resource/js/login/retrievePwd/retrievePwdByEmailThird.js')"></script>
</html>