<div id="footer">薪太软（上海）科技发展有限公司|沪ICP备15039445号-9
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cspan id='cnzz_stat_icon_1260212442'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260212442%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>