<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<title>薪太软_薪酬代发_社保代缴_人力资源一站式服务平台【官网】</title>
<meta name="keywords" content="薪太软，工资代发，工资垫付，社保代缴，公积金代缴，薪酬管理，薪酬设计，员工福利，员工体检，薪酬福利，财税咨询，人力资源系统，人力资源软件，人力资源saas服务，企业资金配置，企业人力成本"/>
<meta name="description" content="薪太软，为企业提供工资代发、社保代缴、公积金代缴、员工体检等薪酬福利解决方案以及工资垫付、财税咨询等周边服务，致力于打造人力资源一站式服务平台，降低企业人力成本，优化企业资金配置。"/>

<meta name="360-site-verification" content="340aa1b20cd239bb3ce0f0c7c2514fe7" />

<link rel="shortcut icon" href="/img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="/201607/css/xtr2.css"/>
<link rel="stylesheet" type="text/css" href="/201607/css/font-awesome.min.css"/>
<script src="/201607/js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/201607/js/custom2.js" type="text/javascript" charset="utf-8"></script>
<script>
var BASE_PATH = "#springUrl('')";
</script>