<!DOCTYPE html>
<html lang="en" id="html">
<head>
    <meta charset="UTF-8">
    <title>审核成功</title>
    #parse("comm/head.vm")
    <meta name="viewport" content="width=divce-width,initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="#springUrl('/resource/css/scanCode/success.css')">
</head>
<body>
<input type="hidden" value="$!{companyId}" id="companyId">
<h3>审核成功</h3>
<div class="txt">
    <p>恭喜审核成功!</p>
    <p>请前往薪太软官网（www.xintairuan.com）</p>
    <p>开启人力资源一站式服务</p>
</div>
##<footer>确定</footer>
</body>
</html>