<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xtr.core.persistence.writer.salary.AllowanceSettingWriterMapper">

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from allowance_setting
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.xtr.api.domain.salary.AllowanceSettingBean" useGeneratedKeys="true" keyProperty="id">
        insert into allowance_setting (id, company_id, dept_id,
        company_menber_id, allowance_name, allowance_desc, is_apply_range,
        absence_day, amount, allowance_type,
        formally_promotion, formally_probation_period,
        labor_promotion, labor_promotion_period, create_time
        )
        values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT},
        #{companyMenberId,jdbcType=BIGINT}, #{allowanceName,jdbcType=VARCHAR}, #{allowanceDesc,jdbcType=VARCHAR}, #{isApplyRange,jdbcType=INTEGER},
        #{absenceDay,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, #{allowanceType,jdbcType=INTEGER},
        #{formallyPromotion,jdbcType=INTEGER}, #{formallyProbationPeriod,jdbcType=INTEGER},
        #{laborPromotion,jdbcType=INTEGER},#{laborPromotionPeriod,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.xtr.api.domain.salary.AllowanceSettingBean" useGeneratedKeys="true" keyProperty="id">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into allowance_setting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="companyMenberId != null">
                company_menber_id,
            </if>
            <if test="allowanceName != null">
                allowance_name,
            </if>
            <if test="allowanceDesc != null">
                allowance_desc,
            </if>
            <if test="isApplyRange != null">
                is_apply_range,
            </if>
            <if test="absenceDay != null">
                absence_day,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="allowanceType != null">
                allowance_type,
            </if>
            <if test="formallyPromotion != null">
                formally_promotion,
            </if>
            <if test="formallyProbationPeriod != null">
                formally_probation_period,
            </if>
            <if test="laborPromotion != null">
                labor_promotion,
            </if>
            <if test="laborPromotionPeriod != null">
                labor_promotion_period,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="companyMenberId != null">
                #{companyMenberId,jdbcType=BIGINT},
            </if>
            <if test="allowanceName != null">
                #{allowanceName,jdbcType=VARCHAR},
            </if>
            <if test="allowanceDesc != null">
                #{allowanceDesc,jdbcType=VARCHAR},
            </if>
            <if test="isApplyRange != null">
                #{isApplyRange,jdbcType=INTEGER},
            </if>
            <if test="absenceDay != null">
                #{absenceDay,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DECIMAL},
            </if>
            <if test="allowanceType != null">
                #{allowanceType,jdbcType=INTEGER},
            </if>
            <if test="formallyPromotion != null">
                #{formallyPromotion,jdbcType=INTEGER},
            </if>
            <if test="formallyProbationPeriod != null">
                #{formallyProbationPeriod,jdbcType=INTEGER},
            </if>
            <if test="laborPromotion != null">
                #{laborPromotion,jdbcType=INTEGER},
            </if>
            <if test="laborPromotionPeriod != null">
                #{laborPromotionPeriod,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xtr.api.domain.salary.AllowanceSettingBean">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update allowance_setting
        <set>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="companyMenberId != null">
                company_menber_id = #{companyMenberId,jdbcType=BIGINT},
            </if>
            <if test="allowanceName != null">
                allowance_name = #{allowanceName,jdbcType=VARCHAR},
            </if>
            <if test="allowanceDesc != null">
                allowance_desc = #{allowanceDesc,jdbcType=VARCHAR},
            </if>
            <if test="isApplyRange != null">
                is_apply_range = #{isApplyRange,jdbcType=INTEGER},
            </if>
            <if test="absenceDay != null">
                absence_day = #{absenceDay,jdbcType=INTEGER},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DECIMAL},
            </if>
            <if test="allowanceType != null">
                allowance_type = #{allowanceType,jdbcType=INTEGER},
            </if>
            <if test="formallyPromotion != null">
                formally_promotion = #{formallyPromotion,jdbcType=INTEGER},
            </if>
            <if test="formallyProbationPeriod != null">
                formally_probation_period = #{formallyProbationPeriod,jdbcType=INTEGER},
            </if>
            <if test="laborPromotion != null">
                labor_promotion = #{laborPromotion,jdbcType=INTEGER},
            </if>
            <if test="laborPromotionPeriod != null">
                labor_promotion_period = #{laborPromotionPeriod,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xtr.api.domain.salary.AllowanceSettingBean">
        update allowance_setting
        set company_id = #{companyId,jdbcType=BIGINT},
        dept_id = #{deptId,jdbcType=BIGINT},
        company_menber_id = #{companyMenberId,jdbcType=BIGINT},
        allowance_name = #{allowanceName,jdbcType=VARCHAR},
        allowance_desc = #{allowanceDesc,jdbcType=VARCHAR},
        is_apply_range = #{isApplyRange,jdbcType=INTEGER},
        absence_day = #{absenceDay,jdbcType=INTEGER},
        amount = #{amount,jdbcType=DECIMAL},
        allowance_type = #{allowanceType,jdbcType=INTEGER},
        formally_promotion = #{formallyPromotion,jdbcType=INTEGER},
        formally_probation_period = #{formallyProbationPeriod,jdbcType=INTEGER},
        labor_promotion = #{laborPromotion,jdbcType=INTEGER},
        labor_promotion_period = #{laborPromotionPeriod,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>