<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xtr.core.persistence.writer.salary.BonusSettingsWriterMapper">

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from bonus_settings
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="com.xtr.api.domain.salary.BonusSettingsBean" useGeneratedKeys="true" keyProperty="id">
        insert into bonus_settings (id, company_id, dept_id,
        company_menber_id, bonus_name, create_time
        )
        values (#{id,jdbcType=BIGINT}, #{companyId,jdbcType=BIGINT}, #{deptId,jdbcType=BIGINT},
        #{companyMenberId,jdbcType=BIGINT}, #{bonusName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.xtr.api.domain.salary.BonusSettingsBean">
        insert into bonus_settings
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="deptId != null">
                dept_id,
            </if>
            <if test="companyMenberId != null">
                company_menber_id,
            </if>
            <if test="bonusName != null">
                bonus_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                #{deptId,jdbcType=BIGINT},
            </if>
            <if test="companyMenberId != null">
                #{companyMenberId,jdbcType=BIGINT},
            </if>
            <if test="bonusName != null">
                #{bonusName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xtr.api.domain.salary.BonusSettingsBean">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update bonus_settings
        <set>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId,jdbcType=BIGINT},
            </if>
            <if test="companyMenberId != null">
                company_menber_id = #{companyMenberId,jdbcType=BIGINT},
            </if>
            <if test="bonusName != null">
                bonus_name = #{bonusName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xtr.api.domain.salary.BonusSettingsBean">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update bonus_settings
        set company_id = #{companyId,jdbcType=BIGINT},
        dept_id = #{deptId,jdbcType=BIGINT},
        company_menber_id = #{companyMenberId,jdbcType=BIGINT},
        bonus_name = #{bonusName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>