<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>

    #parse("comm/head.vm")
    <link href="#springUrl('/resource/css/payday/payday.css')" rel="stylesheet">
    <script src="#springUrl('/resource/js/plugins/dropzone/dropzone.js')"></script>
    <script src="#springUrl('/resource/js/plugins/laydate/laydate.js')"></script>
</head>

<body>
<div class="main_right payoff_two salaryDetails clear" id="">



    <div class="clearTop"><strong>补缴社保公积金</strong></div>

    <table class="payoff_two_list">
        <tr class="payoff_two_list_first">
            <td style="text-align:left; padding-left:15px;">
                我要补缴
                <input type="text" id="begindate" value="" class="laydate-icon" onclick="laydate({istime: false, format: 'YYYY-MM'})"  readonly="readonly" />
                至
                <input type="text" id="enddate" value="" class="laydate-icon" onclick="laydate({istime: false, format: 'YYYY-MM'})"  readonly="readonly" />
                <label style="color: red;"><input name="orderstate" type="checkbox" value="1" />社保</label>
                <label style="color: red;"><input name="orderstate" type="checkbox" value="2" />公积金</label>
                要求薪太软按照此文件缴纳：<a href="#" id="upfile" style="height:auto; margin: 0px; background-color: transparent; font-size: 12px; color:blue; width:auto; line-height:25px; display:inline-flex;">上传文件</a>
						<span class="bar">
						<em class="bar_1"></em>
					</span></td>
        </tr>
        <tr class="payoff_two_list_first">
            <td style="text-align:left; padding-left:15px;">请使用通用模板上传订单（<a style="height:auto; margin: 0px; background-color: transparent; font-size: 12px; color:blue; width:auto; line-height:25px; display:inline-flex;" target="_blank" href="../resource/upload/salaryfiles/template/back_socialinfo.xlsx">点击下载</a>）</td>
        </tr>

    </table>

    <div class="btn-canel1">
        <div class="btn-canel">
            <a class="btnCanel1" href="javascript:;" onclick="createorder($(this))" >确定</a>
            <a class="btnCanel2" href="#springUrl('/socialOrders.htm')">取消</a>
        </div>
    </div>


</div>
</body>

</html>

<script type="text/javascript">

    $(function () {
        //文件上传
        onUpload();
    });

    var orderid=0;

    function onUpload() {
        Dropzone.prototype.submitRequest = function (xhr, formData, files) {
            //formData.append('orderType', 1);
            //formData.append('orderId', orderid);
            return xhr.send(formData)
        };
        var ii;
        //事件绑定
        $("#upfile").dropzone({
            url: "../social/uploadExcelFile.htm",
            //params: {payday: $('#payday').val()},
//        params: {payday: '2016-06-21'},
            params:{orderType:3},
            maxFiles: 10,
            maxFilesize: 512,
            acceptedFiles: ".xlsx,.xls",
            uploadprogress: function (file, progress, bytesSent) {
                //更新文件上传进度
                $('.bar_1').css('width', ($('.bar').width() * progress) / 100);
            },
            addedfile: function (file) {
                ii = layer.load();
            },
            complete: function (data) {
                layer.close(ii);
                if(data && data.xhr && data.xhr.responseText) {
                    var res = eval('(' + data.xhr.responseText + ')');
                    if (res.success) {
                        //上传成功，刷新页面
                        orderid = res.data;
                        var excelName = orderid.substr(orderid.lastIndexOf('/')+1);
                        $('#upfile').text(excelName);

                        /*layer.alert(res.message,{
                         title:'上传成功',
                         },function(index){
                         layer.close(index);
                         });*/
                    } else {
                        //上传失败
                        layer.alert(res.message, {title: '上传失败'}, function (index) {
                            layer.close(index);
                        });
                    }
                } else{
                    //上传失败
                    layer.alert("文件上传失败", {title: '上传失败'}, function (index) {
                        layer.close(index);
                    });
                }

            }
        });



    }


    function createorder(obj){

        if(obj.attr('ta')=='1')
            return;

        obj.attr('ta','1');



        var bdate=$('#begindate').val();
        var edate=$('#enddate').val();
        var ipts=$('input[name=orderstate]:checked');

        if(bdate==null || bdate.length<1){
            layer.alert('请选择补缴开始月份',{
                title:'温馨提示',
            },function(index){
                layer.close(index);
            });

            obj.removeAttr('ta');
            return;
        }

        if(edate==null || edate.length<1){
            layer.alert('请选择补缴结束月份',{
                title:'温馨提示',
            },function(index){
                layer.close(index);
            });

            obj.removeAttr('ta');
            return;
        }

        if(ipts==null || ipts.length<1){
            layer.alert('至少选择一项补缴内容',{
                title:'温馨提示',
            },function(index){
                layer.close(index);
            });

            obj.removeAttr('ta');
            return;
        }

        var os='';
        for(var i=0;i<ipts.length;i++){
            if(os.length>0)
                os+=',';

            os+=ipts.eq(i).val();
        }



        if(orderid==null || orderid==0){
            layer.alert('请先上传文件',{
                title:'温馨提示',
            },function(index){
                layer.close(index);
            });

            obj.removeAttr('ta');
            return;
        }

        $.ajax({
            type: 'post',
            url: '../social/creatSocialOrder.htm',
            data: {
                'filepath': orderid
                ,'orderType':3
                ,'orderBeginDate':bdate
                ,'orderEndDate':edate
                ,'orderState':os
            },
            success: function (resultResponse) {

                obj.removeAttr('ta');

                if (resultResponse.success) {
                    layer.alert(resultResponse.message,{
                        title:'温馨提示',
                    },function(index){
                        layer.close(index);
                        window.location.reload();
                    });
                } else {
                    showWarning(resultResponse.message);
                }
            }
        });
    }

</script>