<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="renderer" content="webkit" />
<meta name="renderer" content="webkit" />
<title>薪太软——互联网薪酬福利解决方案提供商</title>
<meta name="keywords" content="薪太软,企业代发工资,企业融资服务,垫发工资服务,薪资服务平台/人力资源系统，人力资源软件，薪酬管理，薪酬计算软件，HR系统，eHR系统，人事系统，计薪软件，工资计算，工资报表，工资条发放，花名册，人事月报，人力成本，薪酬设计，薪酬结构，人力资源saas服务，个人所得税计算，公积金计算，社保计算，绩效管理，考勤管理"/>
<meta name="description" content="薪太软，专注于为企业提供薪酬发放管理、员工福利管理，以及提供人力资源周边产品和财税服务的整套解决方案，总有一款适合您。全心服务，全时响应，做“老板的好助手，员工的好朋友”。"/>

<meta name="360-site-verification" content="340aa1b20cd239bb3ce0f0c7c2514fe7" />

<link rel="stylesheet" type="text/css" href="/css/xtr1.css"/>
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
<link rel="shortcut icon" href="/img/favicon.ico"/>
<script src="/js/jquery-1.11.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/custom.js" type="text/javascript" charset="utf-8"></script>
<script>
var BASE_PATH = "#springUrl('')";
</script>||||||| .r0

