<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>没有权限</title>
	<style type="text/css">
		section{
			width:100%;
		}
		section .no-jurisdiction {
			width:300px;
			height:200px;
			margin-top: 200px;
			margin-left:300px;
			
		}
		section .no-jurisdiction p{
			line-height: 40px;
			font-size: 15px;
			color: #666
		}
	</style>
</head>
<body>
	<section>
          <div class="no-jurisdiction">
              <div class="pic">
                  <img src=#springUrl('resource/img/no-j.png') alt="">
              </div>
              <p>您好，您没有该界面的访问权限.</p>
          </div>
    </section>
</body>
</html>