<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    #parse("comm/head.vm")
    <style type="text/css">
        body,
        html {width: 100%;height: 100%; }
        .depositDetails { width: 100%;height: 100%;min-width:1200px;min-height:800px}
        .depositTop {width: 100%; height: 80px;position: relative;}
        .depositTop h2 { text-align: center;line-height: 80px; border-bottom: 1px solid #dbe9ee }
        .depositTop img {position: absolute; top: 0;bottom: 0; margin: auto;right: 100px; cursor: pointer }
        .depositCon{width:80%;margin:0 auto;}
        .depositCon h3{margin-top:50px;color:#666;}
        table{width:100%;margin-top:10px;font-size: 12px;color: #333;}
        table tr td{border:1px solid #b8dae6;text-align: center;}
        .depositCon1{height:50px;background:#f1f8fe;color:#333;text-align: center;font-weight: 600;}
        .depositCon2{height:50px;background: #feebe7;}
        .depositConTd1{width:13%;}
        .depositConTd2{width:12%;}
        .depositConTd3{width:10%;}
        .depositConTd4{width:14%;}
        .depositConTd5{width:14%;}
        .depositConTd6{width:13%;}
        .depositConTd7{width:12%;}
        .depositConTd8{width:12%;}
        .depositBtn{width:80%;height:80px;background:#f1f9fc;border:1px solid #dbe9ee;margin:30% auto 0;}
        .depositBtn1{display: block;width:300px;height:40px;text-align: center;line-height: 40px;background:#0696fa;color:#fff;border-radius:6px;margin:20px auto;cursor:pointer}
    </style>
</head>
<body>
    <div class="depositDetails">
        <div class="depositTop">
            <h2>提现详情</h2>
        </div>
        <div class="depositCon">
            <h3>订单状态：
                #if($!{withdrawalsData.rechargeState} == 2)
                    提现成功
                #elseif($!{withdrawalsData.rechargeState} == 1)
                    已关闭
                #elseif($!{withdrawalsData.rechargeState} == 0)
                    提交订单
                #end
            </h3>
            <table>
                <tr class="depositCon1">
                    <td class="depositConTd1">订单提交时间</td>
                    <td class="depositConTd2">订单号</td>
                    <td class="depositConTd3">提现金额</td>
                    <td class="depositConTd4">银行名称</td>
                    <td class="depositConTd5">账户名称</td>
                    <td class="depositConTd6">账户</td>
                    <td class="depositConTd7">银行流水号</td>
                    <td class="depositConTd8">备注</td>
                </tr>
                <tr class="depositCon2">
                    <td>$!date.format('yyyy-MM-dd HH:mm',$!{withdrawalsData.rechargeAddtime})</td>
                    <td>$!{withdrawalsData.rechargeNumber}</td>
                    <td>$!{xtr.money($!{withdrawalsData.rechargeMoney})}</td>
                    <td>$!{withdrawalsData.rechargeBank}</td>
                    <td>$!{withdrawalsData.bankAccountName}</td>
                    <td>$!{withdrawalsData.rechargeBanknumber}</td>
                    <td>$!{withdrawalsData.rechargeSerialNumber}</td>
                    <td>$!{withdrawalsData.rechargeBak}</td>
                </tr>
            </table>
        </div>
        <div class="depositBtn">
            <a class="depositBtn1" href="javascript:void(0);" onclick="closeBox();">确认</a>
        </div>
    </div>

    <script type="text/javascript">
        function closeBox(){
//            allPopClose();
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);
        }
    </script>
</body>
</html>