<!DOCTYPE html>
<html lang="en" id='html'>
<head>
	<meta charset="UTF-8">
	<title>服务协议</title>
	<meta name="viewport" content="width=divce-width,initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1">
</head>
	<style type="text/css">
		*{
			padding: 0;
			margin:0;
		}
		body{
			width: 100%;
			height: 100%;
		}
		section{
			width: 92%;
			height: 100%;
			margin:0.5rem auto;
			background: #fff;
		}
		h1{
			width:100%;
			height: 1rem;
			font-size: 0.34rem;
			text-align: center;
			line-height: 1rem;
			color: #155aa9;
			font-family:'微软雅黑';
		}
		h1 span{
			color: #8e8e8e;
			font-size: 0.2rem;
		}
		p{
			color:#404040;
			line-height: 0.6rem;
			font-size: 0.28rem;
			font-family:'微软雅黑';
			margin-bottom: 0.5rem;
		}
		footer{
			width: 100%;
			height: 0.8rem;
			font-family: '微软雅黑';
			font-size:0.24rem;
			color: #999;
			line-height: 0.8rem;
			margin:0 auto;
			text-align: center;
		}
	</style>
<body> 
	<section>
		<h1>薪太软服务协议<span>/ 企业版</span></h1>
		<p><strong style="color:#155aa9;">重要提示：</strong>薪太软（上海）科技发展有限公司（以下简称'薪太软',‘本网站’,'我们'）作为'薪太软网站'实际持有人及运营商，依据本协议为薪太软网站用户（以下简称“用户”）提供投融资服务，本协议在用户和薪太软间具有合同上的法律效力。薪太软在此特别提醒您仔细阅读、充分理解本协议各条款，特别是涉及免除及限制薪太软责任的条款、以及对用户权利限制条款等。请您充分理解并慎重选择接受或不接受本协议，在您不接受本协议条款前提下，您将无权使用薪太软所提供的产品及服务。当您注册或使用薪太软的产品及服务，即视为您对本协议全部条款已充分理解并完全接受。
		</p>
		
		<p><strong>第一章 薪太软用户</strong><br>
			<span class="p-ind">第一条 薪太软用户是指符合中华人民共和国法律，不受属地法律限制，具有完全民事权利及民事行为能力，能够独立承担民事责任的法人团体或机构。在使用薪太软服务前，用户必须先在薪太软网站上进行注册。</span>
			<span class="p-ind">第二条 用户承诺以下事项:<br></span>
			1.用户必须依照薪太软要求提示提供用户真实、最新、有效及完整的信息。<br>
			2.用户有义务维持并更新用户信息，确保其为真实、最新、有效及完整。若用户提供任何错误、虚假、过时或不完整信息，或薪太软依照独立判断怀疑信息为错误、虚假、过时或不完整，薪太软有权暂停或终止用户账户，并拒绝用户使用薪太软的全部或部份服务。在此情况下，薪太软不承担任何责任，并且用户同意承担因此产生的直接或间接的任何支出或损失。<br>
			3.如因用户未及时更新基本信息，导致薪太软服务无法提供或提供时发生任何错误，用户不得将此作为取消交易或拒绝付款的理由，薪太软亦不承担任何责任，所有后果应由用户承担。
		</p>
		<p><strong>第二章 薪太软服务</strong>
			<span class="p-ind">第三条 薪太软网站（网址:www.xintairuan.com）由薪太软实际持有并运营。薪太软通过薪太软网站向用户提供的服务，具体服务内容主要包括:企业授信、、企业融资、工资代发、供应链金融等相关金融服务，具体详情以薪太软当时提供的服务内容为准。</span>
			<span class="p-ind">第四条 为保障您的权益，在您自愿注册或使用薪太软服务前，务必仔细阅读并充分理解本服务协议所有条款。注册或使用薪太软服务即视为对本服务协议的充分理解和接受，如有违反而导致任何法律后果，您将以自己的名义独立承担相应的法律责任。</span>
			<span class="p-ind">第五条 在本协议履行过程中，薪太软可根据情况对本服务协议进行修改。如果本服务协议的内容发生变动，薪太软将通过薪太软网站公布最新的服务协议，不再向用户作个别通知。如果用户不同意薪太软对本服务协议所做的修改，用户有权停止使用薪太软服务。用户停止使用薪太软服务，但不免除之前客户使用薪太软服务产生的权利与义务。如果用户继续使用薪太软服务，则视为用户接受薪太软对本服务协议所做的修改，并应遵照修改后的协议执行。</span>
			<span class="p-ind">第六条 薪太软对于用户的通知及任何其他的协议、告示或其他关于用户使用用户账户及服务的通知，用户同意薪太软可通过薪太软网站公告、电子邮件、手机短信、无线通讯装置等电子方式或常规的信件传递等方式进行，该等通知于发送之日视为已送达收件人。因信息传输等原因导致用户未在前述通知发出当日收到该等通知的，薪太软不承担责任。</span>
			<span class="p-ind">第七条 薪太软可以自主判断，暂时停止、限制或调整薪太软服务，只要用户仍然使用薪太软服务，即表示用户仍然同意本服务协议。</span>
		</p>
			
		<p><strong>第三章 薪太软服务的内容</strong>
			<span class="p-ind">第八条 薪太软服务内容主要包括投资理财、借款及消费金融等相关微金融服务。薪太软服务部分内容需要用户依照薪太软要求完成身份及银行账户信息认证，未进行身份及银行信息认证的用户将无法使用该部分服务。因未能完成认证而无法享受薪太软服务造成的损失，薪太软不承担任何责任。</span>
			<span class="p-ind">第九条 薪太软服务包括但不限于以下服务内容:</span>
			1.注册账户:您可以注册薪太软网站账户，并通过该账户申请借款、代发工资、垫发工资等相关金融服务。<br>
			2.信息认证:薪太软网站将通过多种途径核实用户身份；您通过信息认证后，薪太软网站才能向您提供某些特定的金融服务。<br>
			3.授信额度:薪太软网站将根据用户身份的具体情况，分别给予用户一定限度的授信数额；如果您借贷活动总额超出该数额的，该借贷活动将被薪太软网站限制而无法实施。只有您归还借款之后，您的授信额度方可根据您的具体还款数额相应恢复。<br>
			4.信息发布与投标回应:借款人有权在本平台发布借款需求信息；投资人有权在本平台通过投标对借款信息发布作出相应回应。<br>
			5.关于用户的借款担保:用户有权根据自己的意愿，选择是否对借款进行抵质押或信用保证，具体信息参考相关条款或协议。<br>
			6.薪太软有权收取服务费，具体收费标准参考薪太软网站公告。<br>
			7.交易异常处理:您使用本服务时，可能由于银行本身系统问题、银行相关作业网络连线问题或其他不可抗拒因素，造成本服务无法继续进行，薪太软不承担任何损害赔偿责任。您确保所输入的信息无误，如果因信息错误造成薪太软于上述异常状况发生之时，无法及时通知您相关交易后续处理方式的，薪太软不承担任何损害赔偿责任。<br>
			8.交易监控:薪太软网站将对所有交易活动实施实时监控。如发现您在薪太软网站的活动有违法犯罪嫌疑或与薪太软网站所有协议、合同内容约定不符的情况，薪太软可以暂时停止、限制或调整全部或部分服务，并不承担任何赔偿责任。同时在任何服务减少、增加或者变化时，只要您仍然使用本服务，表示您仍然同意本协议或者变更后的协议。<br>
			9.欠款催收:在用户的借款到期后，借款人未能履行或者完全履行还款义务的，薪太软可以根据投资人的授权向借款人开展欠款催收活动。<br>
			10.薪太软可以根据运营和交易的具体情况，增加其他的服务活动。<br>
			<span class="p-ind">第十条 除外责任:</span>
			1.在任何情况下，对于您使用薪太软服务过程中涉及由第三方提供相关服务的责任由该第三方承担，薪太软不承担该等责任。薪太软不承担责任的情形包括但不限于:<br>
			（1）因银行、第三方支付机构等第三方未按照您及（或）薪太软指令进行操作引起的任何损失或责任；<br>
			（2）因银行、第三方支付机构等第三方原因导致资金未能及时到账或未能到账引起的任何损失或责任；<br>
			（3）因银行、第三方支付机构等第三方对交易限额或次数等方面的限制而引起的任何损失或责任；<br>
			（4）因其他第三方的行为或原因导致的任何损失或责任。<br>
			2.因您自身的原因导致的任何损失或责任，由您自行负责，薪太软不承担责任。薪太软不承担责任的情形包括但不限于:<br>
			（1）您未按照本协议或薪太软网站不时公布的任何规则进行操作导致的任何损失或责任；<br>
			（2）因您使用的银行卡的原因导致的损失或责任，包括您使用未经认证的银行卡，您的银行卡被冻结、挂失等导致的任何损失或责任；<br>
			（3）您向薪太软发送的指令信息不明确、或存在歧义、不完整等导致的任何损失或责任；<br>
			（4）您账户内余额不足导致的任何损失或责任；<br>
			（5）其他因您自身原因导致的任何损失或责任。<br>
			3.用户保证并承诺通过薪太软网站筹措的资金只能用于约定用途，不得挪为它用。<br>
			4.用户确认，用户在薪太软网站上按薪太软服务流程所确认的交易状态，将成为薪太软为用户进行相关交易或操作（包括但不限于支付或收取款项、冻结资金、订立合同等）的不可撤销的指令。用户同意相关指令的执行时间以薪太软在薪太软系统中进行实际操作的时间为准。用户同意薪太软有权依据本协议及/或薪太软相关纠纷处理规则等约定对相关事项进行处理。 用户未能及时对交易状态进行修改、确认或未能提交相关申请所引起的任何纠纷或损失由用户自行负责，薪太软不承担任何责任。<br>
			5.用户了解薪太软并不是银行或金融机构，按照中国法律规定，薪太软不提供“即时”金额转账服务，用户同意薪太软对资金到账延迟不承担任何责任。<br>
			6.用户理解并同意，薪太软向符合条件的用户提供服务。薪太软对在薪太软网站上进行的投资、借款等交易行为不承担任何责任，薪太软无法也没有义务保证用户在发出借款要约或投资意向后，能够实际获得借款或投资成功，用户因前述原因导致的损失（包括但不限于利息、手续费等损失）由用户自行承担，薪太软不承担责任。<br>
			7.用户通过薪太软网站进行各项交易或接受交易款项时，若用户未遵从本服务协议条款或薪太软公布的交易规则中的操作指示，薪太软不承担任何责任。若发生上述状况而款项已先行拨入用户账户下，用户同意薪太软有权直接从相关用户账户中扣回款项及禁止用户要求支付此笔款项之权利。此款项若已汇入用户的银行账户，用户同意薪太软有向用户事后索回的权利，由此产生的追索费用由用户承担。<br>
			8.薪太软有权基于交易安全等方面的考虑不时设定涉及交易的相关事项，包括但不限于交易限额、交易次数等，用户了解薪太软的前述设定可能会对交易造成一定不便，对此没有异议。<br>
			9.如果薪太软发现了因系统故障或其他任何原因导致的处理错误，无论有利于薪太软还是有利于用户，薪太软都有权纠正该错误。如果该错误导致用户实际收到的款项多于应获得的金额，则无论错误的性质和原因为何，薪太软保留纠正不当执行的交易的权利，用户应根据薪太软向用户发出的有关纠正错误的通知的具体要求返还多收的款项或进行其他操作。用户理解并同意，用户因前述处理错误而多付或少付的款项均不计利息，薪太软不承担因前述处理错误而导致的任何损失或责任（包括用户可能因前述错误导致的利息、汇率等损失）。
		</p>
			
		<p><strong>第四章 风险提示</strong>
			<span class="p-ind">第十一条 用户了解并认可，任何通过薪太软进行的交易并不能避免以下风险的产生，薪太软不能也没有义务为如下风险负责:</span>
			1.宏观经济风险:因宏观经济形势变化，可能引起价格等方面的异常波动，用户有可能遭受损失；<br>
			2.政策风险:有关法律、法规及相关政策、规则发生变化，可能引起价格等方面异常波动，用户有可能遭受损失；<br>
			3.违约风险:因其他交易方无力或无意愿按时足额履约，用户有可能遭受损失；<br>
			4.利率风险:市场利率变化可能对购买或持有产品的实际收益产生影响；<br>
			5.不可抗力因素导致的风险；<br>
			6.因用户的过错导致的任何损失 ，该过错包括但不限于:决策失误、操作不当、遗忘或泄露密码、密码被他人破解、用户使用的计算机系统被第三方侵入、用户委托他人代理交易时他人恶意或不当操作而造成的损失。<br>
			<span class="p-ind">第十二条 薪太软不对任何用户及/或任何交易提供任何担保或条件，无论是明示、默示或法定的。薪太软不能也不试图对用户发布的信息进行控制，对该等信息，薪太软不承担任何形式的证明、鉴定服务。薪太软不能完全保证平台内容的真实性、充分性、可靠性、准确性、完整性和有效性，并且无需承担任何由此引起的法律责任。用户依赖于用户的独立判断进行交易，用户应对其作出的判断承担全部责任。</span>
			<span class="p-ind">第十三条 以上并不能揭示用户通过薪太软进行交易的全部风险及市场的全部情形。用户在做出交易决策前，应全面了解相关交易，谨慎决策，并自行承担全部风险。</span>
		</p>
		
		<p><strong>第五章 服务费用</strong>
			<span class="p-ind">第十四条 当用户使用薪太软服务时，薪太软会向用户收取相关服务费用。各项服务费用详见用户使用薪太软服务时薪太软网站上所列之收费方式说明。薪太软保留单方面制定及调整服务费用的权利。</span>
			<span class="p-ind">第十五条 用户在使用薪太软服务过程中（如充值或取现等）可能需要向第三方（如银行或第三方支付公司等）支付一定的费用，具体收费标准详见第三方网站相关页面，或薪太软网站的提示。</span>
		</p>
		
		<p><strong>第六章 账户安全及管理</strong>
			<span class="p-ind">第十六条 用户了解并同意，确保薪太软账户及密码的机密安全是用户的责任。用户将对利用该薪太软账户及密码所进行的一切行动及言论，负完全的责任，并同意以下事项:
			1.用户不对其他任何人泄露账户或密码，亦不可使用其他任何人的账户或密码。因黑客、病毒或用户的保管疏忽等非薪太软原因导致用户的薪太软账户遭他人非法使用的，薪太软不承担任何责任。
			2.薪太软通过用户的薪太软账户及密码来识别用户的指令，用户确认，使用用户账户和密码登录后在薪太软的一切行为均代表用户本人。薪太软账户操作所产生的电子信息记录均为用户行为的有效凭据，并由用户本人承担由此产生的全部责任。
			3.冒用他人账户及密码的，薪太软及其合法授权主体保留追究实际使用人连带责任的权利。
			4.用户应根据薪太软的相关规则以及薪太软网站的相关提示创建一个安全密码，应避免选择过于明显的单词或日期，比如用户的姓名、昵称或者生日等。
			<span class="p-ind">第十七条 用户如发现有第三人冒用或盗用用户账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知薪太软，要求薪太软暂停相关服务，否则由此产生的一切责任由用户本人承担。同时，用户理解薪太软对用户的请求采取行动需要合理期限，在此之前，薪太软对第三人使用该服务所导致的损失不承担任何责任。</span>
			<span class="p-ind">第十八条 用户决定不再使用薪太软账户时，应首先清偿所有应付款项（包括但不限于借款本金、利息、罚息、违约金、服务费、管理费等），再将薪太软账户中的可用款项（如有）全部取现或者向薪太软发出其它合法的支付指令，并向薪太软申请冻结该薪太软账户，经薪太软审核同意后可正式注销薪太软账户。用户死亡或被宣告死亡的，其在本协议项下的各项权利义务由其继承人承担。若用户丧失全部或部分民事权利能力或民事行为能力，薪太软或其授权的主体有权根据有效法律文书（包括但不限于生效的法院判决等）或其法定监护人的指示处置与薪太软账户相关的款项。</span>
			<span class="p-ind">第十九条 薪太软有权基于单方独立判断，在其认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向用户提供本协议项下的全部或部分用户服务（包括收费服务），并将注册资料移除或删除，且无需对用户或任何第三方承担任何责任。前述情形包括但不限于:</span>
			1.薪太软认为用户提供的个人资料不具有真实性、有效性或完整性；<br>
			2.薪太软发现异常交易或有疑义或有违法之虞时；<br>
			3.薪太软认为用户账户涉嫌洗钱、套现、传销、被冒用或其他薪太软认为有风险之情形；<br>
			4.薪太软认为用户已经违反本协议中规定的各类规则及精神；<br>
			5.用户在使用薪太软收费服务时未按规定向薪太软支付相应的服务费用；<br>
			6.用户账户已连续三年内未实际使用且账户中余额为零；<br>
			7.薪太软基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向用户提供本协议项下的全部或部分用户服务（包括收费服务），并将注册资料移除或删除的其他情形。<br>
			<span class="p-ind">第二十条 用户同意在必要时，薪太软无需进行事先通知即有权终止提供薪太软账户服务，并可能立即暂停、关闭或删除用户账户及该薪太软账户中所有相关资料及档案。</span>
			<span class="p-ind">第二十一条 用户同意，薪太软账户的暂停、中断或终止不代表用户责任的终止，用户仍应对使用薪太软服务期间的行为承担可能的违约或损害赔偿责任，同时薪太软仍可保有用户的相关信息。</span>
			<span class="p-ind">第二十二条 若使用第三方网站账号注册薪太软账户，则用户应对用户账户所对应的第三方网站账号拥有合法的使用权，如用户因故对该第三方网站账号丧失使用权的，则薪太软可停止为用户账户提供服务。但如该薪太软账户尚存有余额的，薪太软将会为用户妥善保管。此时，如用户欲取回其原有余额，薪太软将提供更换薪太软账户的服务，如因故无法自助完成更换账户，用户可以向薪太软提出以银行账户接受原有资金的请求，经核验属实后，薪太软可配合用户将原有资金转移到以用户真实姓名登记的银行账户下。</span>
		</p>
		
		<p><strong>第七章 用户的守法义务及承诺</strong>
			<span class="p-ind">第二十三条 用户承诺绝不为任何非法目的或以任何非法方式使用薪太软服务，并承诺遵守中国相关法律、法规及一切使用互联网之国际惯例，遵守所有与薪太软服务有关的网络协议、规则和程序。</span>
			<span class="p-ind">第二十四条 用户同意并保证不得利用薪太软服务从事侵害他人权益或违法之行为，若有违反者应负所有法律责任。上述行为包括但不限于:</span>
			1.反对宪法所确定的基本原则，危害国家安全、泄漏国家秘密、颠覆国家政权、破坏国家统一的。<br>
			2.侵害他人名誉、隐私权、商业秘密、商标权、著作权、专利权、其他知识产权及其他权益。<br>
			3.违反依法律或合约所应负之保密义务。<br>
			4.冒用他人名义使用薪太软服务。<br>
			5.从事任何不法交易行为，如贩卖枪支、毒品、禁药、盗版软件或其他违禁物。<br>
			6.提供赌博资讯或以任何方式引诱他人参与赌博。<br>
			7.涉嫌洗钱、套现或进行传销活动的。<br>
			8.从事任何可能含有电脑病毒或是可能侵害薪太软服务系統、资料等行为。<br>
			9.利用薪太软服务系统进行可能对互联网或移动网正常运转造成不利影响之行为。<br>
			10.侵犯薪太软的商业利益，包括但不限于发布非经薪太软许可的商业广告。<br>
			11.利用薪太软服务上传、展示或传播虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料。<br>
			12.其他薪太软有正当理由认为不适当之行为。<br>
			<span class="p-ind">第二十五条 薪太软保有依其单独判断删除薪太软网站内各类不符合法律政策或不真实或不适当的信息内容而无须通知用户的权利，并无需承担任何责任。 若用户未遵守以上规定的，薪太软有权作出独立判断并采取暂停或关闭薪太软账户等措施，而无需承担任何责任。</span>
			<span class="p-ind">第二十六条 用户同意，由于用户违反本协议，或违反通过援引并入本协议并成为本协议一部分的文件，或由于用户使用薪太软服务违反了任何法律或第三方的权利而造成任何第三方进行或发起的任何补偿申请或要求（包括律师费用），用户会对薪太软及其关联方、合作伙伴、董事以及雇员给予全额补偿并使之不受损害。</span>
			<span class="p-ind">第二十七条 用户承诺，其通过薪太软网站上传或发布的信息均真实有效，其向薪太软提交的任何资料均真实、有效、完整、详细、准确。如因违背上述承诺，造成薪太软或薪太软其他使用方损失的，用户将承担相应责任。</span>
		</p>
		
		<p><strong>第八章 服务中断或故障</strong>
			<span class="p-ind">第二十七条 用户同意，基于互联网的特殊性，薪太软不担保服务不会中断，也不担保服务的及时性和/或安全性。系统因相关状况无法正常运作，使用户无法使用任何薪太软服务或使用任何薪太软服务时受到任何影响时，薪太软对用户或第三方不负任何责任，前述状况包括但不限于:</span>
			1.薪太软系统停机维护期间。<br>
			2.电信设备出现故障不能进行数据传输的。<br>
			3.由于黑客攻击、网络供应商技术调整或故障、网站升级、银行方面的问题等原因而造成的薪太软服务中断或延迟。<br>
			4.因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成薪太软系统障碍不能执行业务的。
		</p>
		
		<p><strong>第九章 责任范围及限制</strong>
			<span class="p-ind">第二十八条 薪太软未对任何薪太软服务提供任何形式的保证，包括但不限于以下事项:</span>
			1.薪太软服务将符合用户的需求。<br>
			2.薪太软服务将不受干扰、及时提供或免于出错。<br>
			3.用户经由薪太软购买或取得之任何产品、服务、资讯或其他资料将符合用户的期望。<br>
			<span class="p-ind">第二十九条 薪太软的合作单位所提供的服务品质及内容由该合作单位自行负责。薪太软网站的内容可能涉及由第三方所有、控制或者运营的其他网站（以下简称“第三方网站”）。薪太软不能保证也没有义务保证第三方网站上任何信息的真实性和有效性。用户确认按照第三方网站的服务协议使用第三方网站，而不是按照本协议。第三方网站不是薪太软推荐或者介绍的，第三方网站的内容、产品、广告和其他任何信息均由用户自行判断并承担风险，而与薪太软无关。用户经由薪太软服务的使用下载或取得任何资料，应由用户自行考量且自负风险，因资料的下载而导致的任何损坏由用户自行承担。</span>
			<span class="p-ind">第三十条 用户自薪太软及薪太软工作人员或经由薪太软取得的建议或资讯，无论其为书面或口头，均不构成薪太软对薪太软服务的任何保证。</span>
			<span class="p-ind">第三十一条 薪太软不保证为向用户提供便利而设置的外部链接的准确性、有效性、安全性和完整性，同时，对于该等外部链接指向的不由薪太软实际控制的任何网页上的内容，薪太软不承担任何责任。</span>
			<span class="p-ind">第三十二条 在法律允许的情况下，薪太软对于与本协议有关或由本协议引起的，或者，由于使用薪太软网站、或由于其所包含的或以其它方式通过薪太软网站提供给用户的全部信息、内容、材料、产品（包括软件）和服务、或购买和使用产品引起的任何间接的、惩罚性的、特殊的、派生的损失（包括但不限于业务损失、收益损失、利润损失、使用数据或其他经济利益的损失），不论是如何产生的，也不论是由对本协议的违约（包括违反保证）还是由侵权造成的，均不负有任何责任，即使其事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除薪太软对上述损失的责任。</span>
			<span class="p-ind">第三十三条 除本协议另有规定外，在任何情况下，薪太软对本协议所承担的违约赔偿责任总额不超过向用户收取的当次薪太软服务费用总额。
		</p>
		
		<p><strong>第十章 隐私权保护及授权条款</strong>
			<span class="p-ind">第三十四条 薪太软对于用户提供的、薪太软自行收集的、经认证的个人信息将按照本协议予以保护、使用或者披露。薪太软无需用户同意即可向薪太软关联实体转让与薪太软网站有关的全部或部分权利和义务。未经薪太软事先书面同意，用户不得转让其在本协议项下的任何权利和义务。</span>
			<span class="p-ind">第三十五条 薪太软可能自公开及私人资料来源收集用户的额外资料，以更好地掌握用户情况，并为用户度身订造薪太软服务、解决争议并有助确保在薪太软网站进行安全交易。</span>
			<span class="p-ind">第三十六条 薪太软按照用户在薪太软网站上的行为自动追踪关于用户的某些资料。在不透露用户的隐私资料的前提下，薪太软有权对整个用户数据库进行分析并对用户数据库进行商业上的利用。</span>
			<span class="p-ind">第三十七条 用户同意，薪太软可在薪太软网站的某些网页上使用诸如“Cookies”的资料收集装置。</span>
			<span class="p-ind">第三十八条 用户同意薪太软可使用关于用户的相关资料（包括但不限于薪太软持有的有关用户的档案中的资料，薪太软从用户目前及以前在薪太软网站上的活动所获取的其他资料以及薪太软通过其他方式自行收集的资料）以解决争议、对纠纷进行调停。用户同意薪太软可通过人工或自动程序对用户的资料进行评价。</span>
			<span class="p-ind">第三十九条 薪太软采用行业标准惯例以保护用户的资料。用户因履行本协议提供给薪太软的信息，薪太软不会恶意出售或免费共享给任何第三方，以下情况除外:</span>
			1.提供独立服务且仅要求服务相关的必要信息的供应商，如印刷厂、邮递公司等；<br>
			2.具有合法调阅信息权限并从合法渠道调阅信息的政府部门或其他机构，如公安机关、法院；<br>
			3.薪太软的关联实体；<br>
			4.经平台使用方或平台使用方授权代表同意的第三方。<br>
			<span class="p-ind">第四十条 薪太软有义务根据有关法律要求向司法机关和政府部门提供您的个人资料。在用户未能按照与薪太软签订的服务协议或者与薪太软其他用户签订的协议等其他法律文本的约定履行自己应尽的义务时，薪太软有权根据自己的判断，或者与该笔交易有关的其他用户的请求披露用户的个人信息和资料，并做出评论。您严重违反薪太软的相关规则（包括但不限于您的借款逾期超过[30]天等）的，薪太软有权对用户提供的及薪太软自行收集的用户的个人信息和资料编辑入网站黑名单，并将该黑名单对第三方披露，且薪太软有权将您提交或薪太软自行收集的您的个人资料和信息与任何第三方进行数据共享，以便网站和第三方催收逾期借款及对您的其他申请进行审核之用，由此可能造成的您的任何损失，薪太软不承担法律责任。</span>
		</p>
		
		<p><strong>第十一章 知识产权的保护</strong>
			<span class="p-ind">第四十一条 薪太软网站上所有内容，包括但不限于著作、图片、档案、资讯、资料、平台架构、平台画面的安排、网页设计，均由薪太软或其他权利人依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。</span>
			<span class="p-ind">第四十二条 非经薪太软或其他权利人书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表薪太软网站程序或内容。</span>
			<span class="p-ind">第四十三条 用户未经薪太软的明确书面同意不许下载（除了页面缓存）或修改平台或其任何部分。用户不得对薪太软网站或其内容进行转售或商业利用；不得收集和利用产品目录、说明和价格；不得对薪太软网站或其内容进行任何衍生利用；不得为其他商业利益而下载或拷贝账户信息或使用任何数据采集、Robots或类似的数据收集和摘录工具。未经薪太软的书面许可，严禁对薪太软网站的内容进行系统获取以直接或间接创建或编辑文集、汇编、数据库或人名地址录（无论是否通过Robots、Spiders、自动仪器或手工操作）。另外，严禁为任何未经本使用条件明确允许的目的而使用薪太软网站上的内容和材料。</span>
			<span class="p-ind">第四十四条 未经薪太软明确书面同意，不得以任何商业目的对薪太软网站或其任何部分进行复制、复印、仿造、出售、转售、访问、或以其他方式加以利用。未经薪太软明确书面同意，用户不得用frame或运用frame技巧把薪太软或其关联公司的商标、标识或其他专有信息（包括图像、文字、网页设计或形式）据为己有。未经薪太软明确书面同意，用户不得以Meta Tags或任何其他"隐藏文本"方式使用薪太软或其关联公司的名字和商标。任何未经授权的使用都会终止薪太软所授予的允许或许可。</span>
			<span class="p-ind">第四十五条 尊重知识产权是用户应尽的义务，如有违反，用户应对薪太软承担损害赔偿等法律责任。</span>
		</p>
				
		<p style="margin-bottom:00px;"><strong>第十二章 条款的解释、法律适用及争端解决</strong>
			<span class="p-ind">第四十六条 本协议是由用户与薪太软共同签订的，适用于用户在薪太软的全部活动。本协议内容包括但不限于协议正文条款及已经发布的或将来可能发布的各类规则，所有条款和规则为协议不可分割的一部分，与协议正文具有同等法律效力。</span>
			<span class="p-ind">第四十七条 本协议不涉及用户与薪太软的其他用户之间，因网上交易而产生的法律关系及法律纠纷。但用户在此同意将全面接受并履行与薪太软其他用户在薪太软签订的任何电子法律文本，并承诺按照该法律文本享有和（或）放弃相应的权利、承担和（或）豁免相应的义务。</span>
			<span class="p-ind">第四十八条 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，则应认为该条款可与本协议相分割，并可被尽可能接近各方意图的、能够保留本协议要求的经济目的的、有效的新条款所取代，而且，在此情况下，本协议的其他条款仍然完全有效并具有约束力。</span>
			<span class="p-ind">第四十九条 薪太软对本服务协议拥有最终的解释权。</span>
			<span class="p-ind">第五十条 本协议及其修订的有效性、履行与本协议及其修订效力有关的所有事宜，将受中国法律管辖，任何争议仅适用中国法律。</span>
			<span class="p-ind">第五十一条 本协议签订地为中国上海市。因本协议所引起的用户与薪太软的任何纠纷或争议，首先应友好协商解决，协商不成的，用户在此完全同意将纠纷或争议提交薪太软所在地有管辖权的人民法院诉讼解决。</span>
		</p>
		
		    
		<footer>
			薪太软（上海）科技发展有限公司&nbsp;|&nbsp;沪ICP备15039445号-9
		</footer>
		</section> 
  </body>

  <script type="text/javascript">
  	var html=document.getElementById('html');
  	var width=document.documentElement.clientWidth;
  	html.style.fontSize=width/750*100+'px';
  	window.onresize=function(){
  		var width=document.documentElement.clientWidth;
  		html.style.fontSize=width/750*100+'px';
  	}
  </script>
</html>