
<!DOCTYPE html>
<html lang="en" id='html'>
<head>
	#parse("comm/headNew.vm")
    <meta charset="UTF-8">
    <title>审核成功</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1,maximum-scale=1">
##    <script src="#springUrl('/resource/js/lasthongbao/zepto.min.js')"></script>
    <link rel="stylesheet" type="text/css" href="#springUrl('/resource/css/lasthongbao/success.css')">

</head>
<body>
	<div class="pic">
		<img src="#springUrl('/resource/img/lasthongbao/success.png')"/>
	</div>
	<div class="text">
		<div class="text-title">恭喜您审核通过，红包哒哒哒来啦~  </div>
		<p>现金将尽快发放至您的指定账户，请注意查收！ </p>
		<p>体验薪太软人事Saas系统，开启人事管理全薪旅程！</p>
		
	</div>
	<div class="experience">立即体验</div>
    <div class="introduce">
        <img src="#springUrl('/resource/img/lasthongbao/introduce.png')" alt="">
    </div>
    <div class="text1">请用电脑登录薪太软官网进行体验 <a>www.xintairuan.com</a> </div>
</body>
<script>
    $(".experience").click(function(){
        window.location="http://www.xintairuan.com";
    });
</script>
</html>