<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xtr.core.persistence.reader.salary.AllowanceSettingReaderMapper">
    <resultMap id="BaseResultMap" type="com.xtr.api.domain.salary.AllowanceSettingBean">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="company_id" property="companyId" jdbcType="BIGINT"/>
        <result column="dept_id" property="deptId" jdbcType="BIGINT"/>
        <result column="company_menber_id" property="companyMenberId" jdbcType="BIGINT"/>
        <result column="allowance_name" property="allowanceName" jdbcType="VARCHAR"/>
        <result column="allowance_desc" property="allowanceDesc" jdbcType="VARCHAR"/>
        <result column="is_apply_range" property="isApplyRange" jdbcType="INTEGER"/>
        <result column="absence_day" property="absenceDay" jdbcType="INTEGER"/>
        <result column="amount" property="amount" jdbcType="DECIMAL"/>
        <result column="allowance_type" property="allowanceType" jdbcType="INTEGER"/>
        <result column="formally_promotion" property="formallyPromotion" jdbcType="INTEGER"/>
        <result column="formally_probation_period" property="formallyProbationPeriod" jdbcType="INTEGER"/>
        <result column="labor_promotion" property="laborPromotion" jdbcType="INTEGER"/>
        <result column="labor_promotion_period" property="laborPromotionPeriod" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="ConditionResultMap" type="com.xtr.api.dto.salary.AllowanceSettingDto" extends="BaseResultMap">
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="user_data" jdbcType="VARCHAR" property="userData"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, company_id, dept_id, company_menber_id, allowance_name, allowance_desc, is_apply_range, absence_day,
        amount, allowance_type, formally_promotion, formally_probation_period, labor_promotion, labor_promotion_period, create_time
    </sql>

    <sql id="Example_Where_Clause">
        <if test="companyId != null">
            and company_id = #{companyId,jdbcType=BIGINT}
        </if>
        <if test="deptId != null">
            and dept_id = #{deptId,jdbcType=BIGINT}
        </if>
        <if test="companyMenberId != null">
            and company_menber_id = #{companyMenberId,jdbcType=BIGINT}
        </if>
        <if test="allowanceName != null">
            and allowance_name = #{allowanceName,jdbcType=VARCHAR}
        </if>
        <if test="allowanceDesc != null">
            and allowance_desc = #{allowanceDesc,jdbcType=VARCHAR}
        </if>
        <if test="isApplyRange != null">
            and is_apply_range = #{isApplyRange,jdbcType=INTEGER}
        </if>
        <if test="absenceDay != null">
            and absence_day = #{absenceDay,jdbcType=INTEGER}
        </if>
        <if test="amount != null">
            and amount = #{amount,jdbcType=DECIMAL}
        </if>
        <if test="allowanceType != null">
            and allowance_type = #{allowanceType,jdbcType=INTEGER}
        </if>
        <if test="formallyPromotion != null">
            and formally_promotion = #{formallyPromotion,jdbcType=INTEGER}
        </if>
        <if test="formallyProbationPeriod != null">
            and formally_probation_period = #{formallyProbationPeriod,jdbcType=INTEGER}
        </if>
        <if test="laborPromotion != null">
            and labor_promotion = #{laborPromotion,jdbcType=INTEGER}
        </if>
        <if test="laborPromotionPeriod != null">
            and labor_promotion_period = #{laborPromotionPeriod,jdbcType=INTEGER}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from allowance_setting
        where id = #{id,jdbcType=BIGINT}
    </select>

    <!--查询列表-->
    <select id="selectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from allowance_setting where 1=1
        <include refid="Example_Where_Clause"/>
        order by create_time desc
    </select>

    <!--根据企业ID获取津贴信息-->
    <select id="selectByCompanyId" resultMap="ConditionResultMap" parameterType="java.lang.Long">
        select allowance_setting.allowance_name,allowance_apply.type,allowance_apply.user_data
        from allowance_setting
        left join allowance_apply on allowance_setting.id=allowance_apply.allowance_id
        where allowance_setting.company_id = #{companyId,jdbcType=BIGINT}
    </select>
</mapper>